extends layout 

block content 
h1=title 
h2(style ="front-size: 24px")= category.name 
p(style="font-size 18px")= category.description 
h2 Items 
ul 
each item in items 
li 
  a(href=item.url)    #{item.name}
  hr
  a(href=`${category.url}/update` styel="font-size 16px") Update Category 
  br
  a(href=`${category.url}/delete` style="font-size: 16px") Delete Category 
  

